* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica'
}

body {
    background-color: #252525;
   
}


@media (min-width: 312px) and (max-width:400px) {

    .container {
        border: 1px solid #fff;
      
        display: flex;
        flex-direction: column;
        width: 310px;
        height: 568px;

        align-items: center;
        background-color: #c1c1c1;
        color: #fff;
    }

    .container h2 {
        margin-top: 30px;       
        font-size: 18px;
        color: #252525;
    }

    form {
        width: 290px;
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        margin: 10px 0;
        background-color: #252525;
    }

    input {
        background-color: #fff;
        color: #000;
        margin: 3px 0 20px; 
        height: 30px;  
        font-size: 15px;     
    }

    button{
        background-color: #252525;
        color: #fff;
        padding: 10px 22px;
        text-transform: uppercase;
    }
}

@media (min-width: 500px) {
    .container {
        border: 1px solid #fff;
        background-color: #c1c1c1;
        display: flex;
        flex-direction: column;
        width: 650px;
        height: 568px;
        margin: 40px auto;

        align-items: center;

        color: #fff;

    }

    h2{
        color: #252525;
        margin-top: 20px;
    }

    form {
        max-width: 100%;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        padding: 60px 20px;
        margin: 20px 0;
        background-color: #252525;
    }

    input {
        background-color: #fff;
        color: #000;
        margin: 3px 0 20px;
    }

    button{
        background-color: #252525;
        color: #fff;
        padding: 10px 22px;
        text-transform: uppercase;
    }
}